# Environement virtuel 
.venv-WEALINS-aml/

# Variables d'environnement
.env

# Données sensibles

data/raw/

#Python
__pycache__/
*.pyc

#Modèles
resultats/models/*.pkl

#OS Windows
Thumbs.db
desktop.ini

#VS code
.vscode/

